body {
    min-height: 200px;
}
.jumbotron {
    padding-top: 2rem ;
    background-color: #e2edff;
}
#About {
    padding: 60px 0;
}
# projects {
    padding: 60px 0;
    background-color: #e2edff;
}
